<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zdrv.mapper.AnimeMapper">


	<resultMap id="AnimeMap" type="com.zdrv.domain.Anime"
		autoMapping="true" />



	<select id="selectAll" resultMap="AnimeMap">

		select * from animes
	</select>

	<select id="selectById" parameterType="int" resultMap="AnimeMap">

		select *
		from animes
		where anime_id =#{id}

	</select>


	<select id="countAnimes" resultType="long">
		select count(*) from animes
	</select>

	<select id="getLimitedAnimes" resultType="com.zdrv.domain.Anime">
		select * from animes
		limit #{offset},#{num}

	</select>

	<select id="searchAnime" resultType="com.zdrv.domain.Anime"
		parameterType="String">
		select * from animes
		where anime_name like concat('%',
		#{moji}, '%')

	</select>

	<select id="allViewAnimes"
		resultType="com.zdrv.domain.ViewAnime" parameterType="int">

		select

		v.id,v.date,v.title,v.text

		from viewanime as v
		join users as u
		on
		v.user_id = u.id
		where u.id = #{id}

	</select>


	<insert id="viewInsert"
		parameterType="com.zdrv.domain.ViewAnime">

		insert viewanime
		(user_id,title,text)
		value(#{user.id},#{title},#{text});

	</insert>

	<update id="updateView"   parameterType="com.zdrv.domain.ViewAnime">
		
		update viewanime

		set title = #{title},text = #{text}
		where user_id = #{user.id},id=#{viewId}

	</update>








</mapper>