<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zdrv.mapper.UserMapper">

	<select id="findByLoginId" resultType="com.zdrv.domain.User"
		parameterType="String">

		select * from users
		where login_id = #{loginId};

	</select>

	<insert id="insert" parameterType="com.zdrv.domain.User">

		insert users
		(login_id,login_pass,name)
		value(#{loginId},#{loginPass},#{name})

	</insert>

	<update id="update" parameterType="com.zdrv.domain.User">

		update users
		set login_id= #{loginId},login_pass=#{loginPass},name=#{name}
		where id=#{id}
	</update>

</mapper>